@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap');

:root {
    --skills-ff: 'Lato', sans-serif;
}

.content {
    padding: 3rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--skills-ff);
    background-color: #FFF9E7;
}

.skills-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; font-family: var(--skills-ff);
}

.skills-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.description-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.certifications {
    font-family: var(--skills-ff);
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
    font-weight: 400;
}

.skill-item {
    font-family: var(--skills-ff);
}

.profile-skills {
    width: 40px;
    height: 40px;
}