@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root {
    --skills-ff: 'Lato', sans-serif;
}

.tilted-skills {
    display: inline-block;
    position: relative;
    rotate: -35deg;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--skills-ff);
    color: #9A6936;
    top: -50px;
    left: -320px;
}

.content {
    padding: 3rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 600;
    gap: 2rem;
    background-color: #F7AF24;
    font-family: var(--skills-ff);
}

#skills {
    background-color: #F7AF24;
}

.skill-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: start;
}

.content-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 3rem 0 3rem 0;
}

.content-banner {
    font-size: 4rem;
    font-family: var(--skills-ff);
    font-weight: 600;
    text-align: left;
    padding: 5rem 0 0 15rem;
}

.skill-insights {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 5rem;
    text-decoration: underline;
    transition: color 0.5s ease;
}

.skill-insights:hover {
    color: grey;
}

.competency-title {
    font-size: 1.5rem;
    font-family: var(--skills-ff);
    font-weight: 600;
    line-height: 2rem;
}


.competencies {
    font-size: 1.2rem;
    font-family: var(--skills-ff);
    font-weight: 500;
    line-height: 2rem;
    transition: color 0.5s ease-in-out;
}

.competencies:hover {
    color: grey;
}

.skills-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--skills-ff);
    padding-left: 3rem;
}

.skills-description::before {
    content: '';
    border-top: 3px solid black;
    width: 150px;
    height: 15px;
    display: block;
    margin: 0 auto;
}

.description-title {
    font-size: 1.6rem;
    font-weight: 500;
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--skills-ff);
    font-weight: 500;
}

.skills-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}



.value-items {
    font-weight: 500;
}

.certifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    word-wrap: break-word;
    gap: 1rem;
    font-family: var(--skills-ff);
    font-size: 1.2rem;
    font-weight: 500;
}


.profile-skills {
    width: 40px;
    height: 40px;
}

@media screen and (min-width:200px) and (max-width:998px) {
    .certifications {

        gap: 3rem;
    }

    .skill-content {
        gap: 2rem;
        padding: 0 0 0 2rem;
    }

}